{% extends  "layout.html" %}
{%block content%}
<h5>Manager Login</h5>
    {% if failed %}
        <script>
            alert("Invalid username or password.");
        </script>
    {% endif %}
    <form action="{% url 'manager-login' %}" method="POST">
        {% csrf_token %}
        <div>
            <input type="text" name="username" placeholder="Username"/>
        </div>
        <div>
            <input type="password" name="password" placeholder="Password"/>
        </div>
        <button type="submit">Login</button>
        <p>
        </p>
    </form>
{%endblock content%}