{% extends  "layout.html" %}
{%block content%}
<div class="container mb-5">
    <div>
            <h1>About Us!</h1>
    </div>
    <div class="row justify-content-center mt-1">
        <div >
        <p> Welcome to Guy's Dinner, where we believe that sometimes the most indulgent meals are the ones that bring people together and create memories that last a lifetime. We are a fictional restaurant that celebrates all things hearty, delicious, and indulgent
            <p>At Guy's Dinner, we specialize in creating dishes that are both tasty and filling. From our juicy burgers and loaded fries to our decadent desserts, we don't hold back when it comes to satisfying your cravings. Our portions are generous, and we always use fresh, high-quality ingredients to ensure that every bite is packed with flavor.</p>
            <p> Our restaurant is the brainchild of Guy, a self-taught chef who has a passion for creating meals that are both satisfying and memorable. Guy's Dinner is his vision brought to life, and he takes pride in every dish that comes out of our kitchen.</p>
            <p> We know that our slogan, "where heart attacks are created," might sound a little extreme, but we want our customers to know that we don't take ourselves too seriously. We believe that indulging in a little bit of decadence every once in a while is good for the soul, and we're here to make sure that you enjoy every minute of it.</p>
            <p> Whether you're looking to celebrate a special occasion with family and friends or simply want to indulge in a hearty meal after a long day, Guy's Dinner is the perfect destination. So come on in, pull up a chair, and get ready to enjoy some of the most delicious and satisfying meals you've ever tasted.</p>
    </div>
</div>
{% endblock content%}